#education-text {
    padding-top: 10vh;
    padding-left: 25vh;
}


body {
    background-image: url("photos/Education/mount.jpg");
    /*background-color: rgba(255, 255, 255, 0.486);*/
    /*background-blend-mode: lighten;*/
    background-repeat:no-repeat;
    background-size:cover;

    /*opacity: 60%;*/
}

hr {
    width: 80vw;
    margin: 0 auto;

    align-self: center;
}

#education-section {
    padding-left: 5vw;
    padding-top: 2vh;
}

img {
    /*max-width: 100%;*/
    /*height: auto;*/
    height: 10vh;
}


