
body {
    background-image: url("photos/Education/a.jpg");
    /*background-color: rgba(255, 255, 255, 0.486);*/
    /*background-blend-mode: lighten;*/
    background-repeat:no-repeat;
    background-size: cover;

    /*opacity: 60%;*/
}













