<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>About Myself</title>
        <link rel="stylesheet" href="../public/styles.css">
    </head>
<body>
        <div class="container">
            <!-- Navigation Bar-->
            <div class="navigation-bar">
                <div class="left">
                    <div class="navigation-link" active-navigation>
                        <a href="index.html">Home</a>
                </div>

                <div class="navigation-link">
                    <a href="about.html">About Me</a>
                </div>
            
        </div>

            <div class="right">
                <div>Nicholas Li</div>
            </div>       
        </div>
    

    <div class="content">
        <div class="two-column">
            <div class="profile-image">
            <img src="photos\Only Nick.jpg" alt="">
        </div>

        <div class="profile-content">
            <h1>Hello, Thanks for visiting my Website. Feel Free to Browse Around!</h1>
        
            <p>I am currently a junior student at Worcester Polytechnic Institute
                studying in the field of Computer Science. I am very passionate about software development and 
                is currently actively pursusing a chance to join a 2022 Summer Internship in the field of software 
                engineering. I decided to build this as a personal portfolio website. Thanks for Reading!
            </p>

            <p>Nicholas Li</p>
            <p>(401)808-1902</p>
            <p>Linicholas2019@gmail.com</p>    
            <p>https://www.linkedin.com/in/nicholas-li-781017193/</p>    
            <p>https://github.com/Livingwell088</p>    
            
        </div>
    </div>
</div>
</div>


</html>