<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>About Myself</title>
        <link rel="stylesheet" href="../public/styles.css">
    </head>
<body>
        <div class="container">
            <!-- Navigation Bar-->
            <div class="navigation-bar">
                <div class="left">
                    <div class="navigation-link" active-navigation>
                        <a href="index.html">Home</a>
                </div>

                <div class="navigation-link">
                    <a href="about.html">About Me</a>
                </div>
            
        </div>

            <div class="right">
                <div>Nicholas Li</div>
            </div>       
        </div>
    

    <div class="content">
        <div class="two-column">
            <div class="portfolio-item">
            
            <img src="photos\wpi.jpg" height=50%>
        
    </div>

        <div class="portfolio-item">
            <h1>Education</h1>
        
            <h3>Bachelor of Computer Science  |   Worcester Polytechnic institute</h3>
            <h3>Graduation: May 2023</h3>
            <h4>Major: Computer Science</h4>
              
            
        </div>
    </div>
</div>
</div>


</html>