<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Personal Website</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles.css">
    </head>
 <body>

 <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <div class="container-fluid">
         <div>
             <img src="https://images.unsplash.com/photo-1617791160536-598cf32026fb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1528&q=80" width="30" height="30" class="d-inline-block align-top" alt="">
             <a class="navbar-brand" href="#">Nicholas Li</a>
         </div>

         <button
                 class="navbar-toggler"
                 type="button"
                 data-mdb-toggle="collapse"
                 data-mdb-target="#navbarNavAltMarkup"
                 aria-controls="navbarNavAltMarkup"
                 aria-expanded="false"
                 aria-label="Toggle navigation"
         >
             <i class="fas fa-bars"></i>
         </button>
         <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
             <div class="navbar-nav">
                 <a class="nav-link active" aria-current="page" href="#">Home</a>
                 <a class="nav-link" href="#">Features</a>
                 <a class="nav-link" href="#">Pricing</a>
                 <a class="nav-link disabled"
                 >Disabled</a
                 >
             </div>
         </div>
     </div>
 </nav>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--     <div class="container-fluid">-->
<!--          <a class="navbar-brand" href="#">-->
<!--              <img src="https://images.unsplash.com/photo-1617791160536-598cf32026fb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1528&q=80" width="30" height="30" class="d-inline-block align-top" alt="">-->
<!--              Nicholas Li-->
<!--          </a>-->
<!--         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--             <span class="navbar-toggler-icon"></span>-->
<!--         </button>-->

<!--         <div class="collapse navbar-collapse" id="navbarNavAltMarkup">-->
<!--             <div class="navbar-nav">-->

<!--                 <a class="nav-link active" aria-current="page" href="#">Home</a>-->
<!--                 <a class="nav-link" href="/about.html">About Me</a>-->
<!--                 <a class="nav-link" href="/Experience.html">Testing</a>-->
<!--             </div>-->
<!--         </div>-->
<!--     </div>-->
<!-- </nav>-->


 <!-- Image and text -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--     <a class="navbar-brand" href="#">-->
<!--         <img src="https://images.unsplash.com/photo-1617791160536-598cf32026fb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1528&q=80" width="30" height="30" class="d-inline-block align-top" alt="">-->
<!--         Nicholas Li-->
<!--     </a>-->

<!--     <div class="collapse navbar-collapse" id="navbarNav">-->
<!--         <ul class="navbar-nav">-->
<!--             <li class="nav-item active">-->
<!--                 <a class="nav-link" href="/index.html">Home <span class="sr-only">(current)</span></a>-->
<!--             </li>-->
<!--             <li class="nav-item">-->
<!--                 <a class="nav-link" href="/about.html">About Me</a>-->
<!--             </li>-->

<!--         </ul>-->
<!--     </div>-->
<!-- </nav>-->


<!--        <div class="container">-->
<!--            &lt;!&ndash; Navigation Bar&ndash;&gt;-->
<!--            <div class="navigation-bar">-->
<!--                <div class="left">-->
<!--                    <div class="navigation-link" active-navigation>-->
<!--                        <a href="index.html">Home</a>-->
<!--                </div>-->

<!--                <div class="navigation-link">-->
<!--                    <a href="about.html">About Me</a>-->
<!--                </div>-->
<!--            -->
<!--        </div>-->

<!--            <div class="right">-->
<!--                <div>Nicholas Li</div>-->
<!--            </div>       -->
<!--        </div>-->
    

    <div class="content">
        <div class="portfolio-items">

            <div class="portfolio-item">
                
                <div class="portfolio-background" style="background-image:url(../photos/Experience.jpg)" ></div>
                <div class="image">
                    <a href="Experience.html">
                <div class="logo">
                    <img src="photos\icon.png" alt=""></div>
                </a>
                
                <div class="subtitle">Experience</div>

            </div>
        </div>

        <div class="portfolio-item">
                
            <div class="portfolio-background" style="background-image:url(../photos/education.jpg)" ></div>
            <div class="image">
                <a href="Education.html">
            <div class="logo">
                <img src="photos\icon1.png" alt=""></div>
            </a>
            
            <div class="subtitle">Education</div>

        </div>
    </div>


        <div class="portfolio-item">
                    
            <div class="portfolio-background" style="background-image:url(../photos/Background.jpg)" ></div>
            <div class="image">
                <a href="Projects.html">
            <div class="logo">
                <img src="photos\icon2.png" alt=""></div>
            </a>
            
            <div class="subtitle">Projects</div>

        </div>
    </div>
 


        <div class="portfolio-item">
                        
            <div class="portfolio-background" style="background-image:url(../photos/Related_Course.jpg)" ></div>
            <div class="image">
                <a href="Related_Courses.html">
            <div class="logo">
                <img src="photos\icon3.jpg" alt=""></div>
            </a>
            
            <div class="subtitle">Related Courses</div>

        </div>
        </div>

        <div class="portfolio-item">
                        
            <div class="portfolio-background" style="background-image:url(../photos/Skills.jpg)" ></div>
            <div class="image">
                <a href="Skills.html">
            <div class="logo">
                <img src="photos\icon4.jpg" alt=""></div>
            </a>
            
            <div class="subtitle">Skills</div>

        </div>
        </div>

        <div class="portfolio-item">
                        
            <div class="portfolio-background" style="background-image:url(../photos/About.jpg)" ></div>
            <div class="image">
                <a href="about.html">
            <div class="logo">
                <img src="photos\icon5.jpg" alt=""></div>
            </a>
            
            <div class="subtitle">About Me</div>

        </div>
        </div>
    </div>
 </div>
 </div>

 <script src="/main.js"></script>
 </body>

 <script>

const portfolioItems = document.querySelectorAll('.portfolio-item')

portfolioItems.forEach(portfolioItem => {
    portfolioItem.addEventListener('mouseover', () => {
      console.log(portfolioItem.childNodes[1].classList)
      portfolioItem.childNodes[1].classList.add('img-darken');
    });

    portfolioItem.addEventListener('mouseout', () => {
      console.log(portfolioItem.childNodes[1].classList)
      portfolioItem.childNodes[1].classList.remove('img-darken');
    });
  });

</script>

</html>