<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>About Myself</title>
        <link rel="stylesheet" href="../public/styles.css">
    </head>
<body>
        <div class="container">
            <!-- Navigation Bar-->
            <div class="navigation-bar">
                <div class="left">
                    <div class="navigation-link" active-navigation>
                        <a href="index.html">Home</a>
                </div>

                <div class="navigation-link">
                    <a href="about.html">About Me</a>
                </div>
            
        </div>

            <div class="right">
                <div>Nicholas Li</div>
            </div>       
        </div>
    

    <div class="content">
        

        <div class="profile-content">
            
            <h3>Introduction to Program Design |2019</h3>
            <h3>Object-Oriented Design Concepts | 2020</h3>
            <h3>Systems Programming Concepts | 2020</h3>
            <h3>Introduction To Machine Organization And Assembly Language | 2020</h3>
            <h3>Foundations of Computer Science | 2021</h3>
            <h3>Social Implications of Computer Science | 2021</h3>
            <h3>Software Engineering | 2022</h3>
            <h3>Operating Systems | 2022</h3>
            <h3>Algorithms | 2022</h3>
            
        </div>
    </div>
</div>
</div>


</html>