@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');


.jacques-francois-shadow-regular {
    font-family: "Jacques Francois Shadow", serif;
    font-weight: 400;
    font-style: normal;
}


.protest-guerrilla-regular{
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.teko{
    font-family: "Teko", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 500 !important;
    font-style: normal !important;
}

.kolker-brush-regular {
    font-family: "Kolker Brush", cursive;
    font-weight: 400;
    font-style: normal;
}

.spicy-rice-regular {
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
}


.dancing-script{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.trade-winds-regular {
    font-family: "Trade Winds", system-ui;
    font-weight: 400;
    font-style: normal;
}


.fontDark {
    color: #191510;
    /*color: #f8d7a4;*/
    margin: 0;
}

.fontWhite {
    color: white;
}

h1-Title {
    font-size: 150px;
}


.mingButton {
    background-color: #661a06 !important;
    align-items: center;
    align-content: center;
    text-align: center;
}

.mingButtonOutline {
    background-color: transparent !important;
    align-items: center;
    align-content: center;
    text-align: center;
    color: #661a06 !important;
    border: #661a06 solid !important;
}


html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
}

body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}


