
#Skills {
    height: 100%;
    border-bottom: 2px solid var(--border);
}

.skills-div {
    margin: 65px;
}

.glass-card p {
    border: 1px solid var(--border-blue);
    text-align: center;
    margin: 0;

    border-radius: 15px;
    align-items: center;
    align-content: center;
    align-self: center;

    padding: 5px;
}

.glass-card p:hover {
    border: 1px solid var(--border-hover);
}

.glass-card .skill-pill {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background: transparent;
    border: 2px solid var(--border-blue);
    transition: 0.2s;
}

.glass-card .skill-pill:hover {
    border-color: var(--border-hover);
    transform: translateY(-2px);
}

