.card {
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: rgba(245, 245, 220, 0.8);
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;

    /*min-height: 400px;*/

    height: 100%;
    width: 100%;
    text-align: center;
    /*vertical-align: top;*/
}

.card-body {
    margin-bottom: 0;
}


.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
    padding-bottom: 5%
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
    /*margin:auto;*/

    margin-top: auto;

}



/*a {*/
/*    text-decoration: none;*/
/*    font-size: 22px;*/
/*    color: black;*/
/*}*/

button:hover, a:hover {
    opacity: 0.7;
}
p{
    font-size: 20px;
}
